.MapTracker {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.mapContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	text-align: center;
	padding: 0 1rem;
	margin-top: 0.1rem;
	background-size: cover;
	z-index: 2;
	transition: all 0.2s;
}
.mapContainer:first-of-type {
	margin-top: 0;
}

.mapContainer > * {
	transition: all 0.2s;
}

.mapContainer:hover {
	filter: brightness(1.5);
}
.mapContainer:hover > * {
	transform: scale(1.05);
}

.mapContainer > h2,
.mapContainer > h4 {
	width: 100%;
	font-family: var(--fontSub);
	letter-spacing: 0;
	font-weight: lighter;
}

.mapContainer > h3 {
	margin-top: 0.3rem;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.1rem;
}