.UserData {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	width: 100%;
	height: 100%;
}

.UserData > * {
	text-align: center;
}


/* HEADER */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.UserData .username {
	font-size: 3rem;
	text-transform: uppercase;
	margin-bottom: -0.5rem;
	color: var(--whitePure);
}
.UserData .uid {
	margin-bottom: 0.2rem;
}
.UserData .status {
	font-family: var(--fontSub);
	letter-spacing: 0.05rem;
	font-weight: bold;
	border-radius: 100px;
}
.status.offline {color: var(--offline)}
.status.online {color: var(--online)}

/* MAIN */
main {
	display: flex;
	height: 100%;
}
main * {
	font-family: var(--fontSub);
	letter-spacing: normal;
}

/* PROGRESS CARDS */
.progressDiv {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 100%;
	width: 100%;
}
.progressCard {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.3rem 1rem;
}
.progressCard > h2 {
	flex: 1;
	font-weight: bold;
	letter-spacing: 0.15rem;
	font-size: 1rem;
}
.progressLevel {
	flex: 3;
	font-family: var(--fontMain);
	font-size: 3rem;
	white-space: nowrap;
	margin-top: 1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-shadow:
		-0.03rem -0.03rem 0 var(--gray),
		0.03rem 0.03rem 0 var(--gray),
		0.03rem -0.03rem 0 var(--gray),
		-0.03rem 0.03rem 0 var(--white);
}
.progressToNext {
	flex: 1;
}
.progressBar {
	position: relative;
	background-color: var(--gray);
	height: 0.2rem;
	transform: skewX(-15deg);
}
.progressBar > div {
	position: absolute;
	height: inherit;
	background-color: var(--white);
}

/* ACTIVE LEGEND */
.activeLegend {
	flex: 1;
	padding: 0.3rem 0;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.activeLegendTitle {
	font-weight: bold;
	letter-spacing: 0.15rem;
	margin-bottom: 1rem;
}
.legendName {
	font-family: var(--fontMain);
	font-size: 2rem;
	letter-spacing: 0.1rem;
	white-space: nowrap;
	margin-bottom: 1rem;
}
.legendIcon {
	width: 10rem;
	filter: brightness(7) sepia(100) 
}

/* MISC */
.backButton {
	position: absolute;
	left: 5rem;
	transform: scale(2);
}
.divider {
	border: 1px solid var(--gray);
	margin: 0.8rem 0;
	width: 100%;
	box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}