.animation-stopper * {
  animation: none !important;
  transition: none !important;
}



.App {
  font-family: var(--fontMain);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;
  letter-spacing: 0.2em;
  color: var(--white);
}

.App > * {
  flex: 1;
  flex-grow: 1;
  box-shadow: 0 0 10rem 1rem rgba(0, 0, 0, 0.1);
  background-color: transparent;
}